/* LeftContainer.css */
.left-container {
  background-color: transparent;
  position: absolute;
  width: 30%; /* Adjust the width as needed */
  height: calc(70vh - 40px); /* 70% of the viewport height minus double the padding */
  top: 25%; /* Adjust to position below the header */
  padding: 20px;
  box-sizing: border-box;
  left: 12%; /* Adjust based on your layout */
  border-radius: 5px;
  border: 2px solid white;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text inside the container */
}
  
