/* RightContainer.css */
.right-container {
    background-color: white; /* White background */
    position: absolute;
    width: 30%; /* Adjust based on your layout */
    height: 70%; /* Adjust based on your layout */
    top: 25%; /* Adjust to position below the header */
    padding: 20px;
    box-sizing: border-box;
    right: 10%; /* Adjust based on your layout */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  