.shortform-content {
    display: block;
    position: relative;
    width: 100%;
}

.background-image {
    width: 100%;
    height: auto; 
    display: block; 
}

.shortform-text {
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 
        0 0 4px yellow,
        0 0 4px yellow,
        0 0 4px yellow,
        0 0 4px yellow,
        0 0 4px yellow;    
    width: 80%;
    text-align: center; 
}


.shortform-content::after {
    content: "";
    display: block;
    clear: both;
}
