.youtube-content {
    display: flex;
    flex-direction: column; /* Use column to stack thumbnail and description */
    position: relative;
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    background-size: cover;
    background-position: center;
  }
  
  .actual-thumbnail {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .youtube-description {
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: white;
    width: 80%; /* Control the width of the description */
  }
  