.youtube-content {
    display: block; 
    position: relative;
    width: 100%;
}

.background-image {
    width: 100%;
    height: auto; /* Adjust height automatically to preserve aspect ratio */
    display: block; /* Ensures no extra space below the image */
}

.actual-thumbnail {
    position: absolute;
    top: 45%; /* Adjust this value to position the thumbnail within the template */
    left: 13%; /* Adjust this value to center the thumbnail horizontally */
    width: 20%; /* You might adjust this to fit the placeholder in the template */
    height: auto; /* Maintain aspect ratio */
    transform: translateY(-50%); /* Optionally adjust vertical centering based on 'top' */
}

.youtube-description {
    position: absolute;
    bottom: 10%;
    top: 5%;
    left: 45%;
    right: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: clamp(8px, 3vw, 12px); /* Adjusted for better readability */
    color: white;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 50%; /* Limit width to not overflow the image boundary */
    overflow: hidden;
    display: -webkit-box; /* Use the webkit line clamp approach */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit text to three lines */
    text-overflow: ellipsis; /* Adds ellipsis after the clamp limit */
    line-height: 1.2em; /* Adjust line height for better text spacing */
    max-height: 3.6em; /* Should be 3 * line-height */
    white-space: normal; /* Ensure text wraps within the box */
}