/* Header.css */

.header {
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  height: 3vh; 
  border-radius: 5px;
  display: flex;
  width: 80%; /* Adjust width as necessary */
  z-index: 10; /* Ensures the header floats above other content */
  overflow: hidden; /* Ensures no scrollbars appear */
}

.header-item {
  position: absolute; /* Position the items absolutely within the header */
  top: 50%;
  transform: translateY(-50%); /* Center the items vertically */
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.2s ease; /* Smooth transition for color and font-weight */
  color: black;
}

/* Position each item explicitly */
.header-item:nth-child(1) {
  right: 60px; /* Adjust according to your layout */
}

.header-item:nth-child(2) {
  right: 200px; /* Adjust according to your layout */
}

.header-item:hover {
  cursor: pointer;
  color: #555;
  font-weight: bold; /* Makes the text bold on hover */
}