/* AuthLogin.css */

.auth-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px; /* Space between elements */
  border-radius: 8px;
}

.auth-login h2 {
  margin: 0;
  color:white; /* Dark grey for text */
}

.input-container {
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Distribute space between children */
  width: 100%; /* Take full width to spread out the inputs */
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the flex container */
}

.auth-login label {
  margin-bottom: 5px; /* Space between label and input */
}

.auth-login input, .auth-login select {
  padding: 10px;
  border: 1px solid white; /* Light grey border */
  border-radius: 4px;
  min-width: 180px; /* Ensure inputs have a minimum width */
}

.login, .proceed {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff; /* Example button color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login:hover, .proceed:hover {
  background-color: #0056b3;
}

.login:disabled, .proceed:disabled {
  background-color: #cccccc;
  cursor: default;
}

.login.bump {
  animation: bumpAnimation 0.1s ease-in-out; /* Apply the animation when the 'bump' class is present */
}

@keyframes bumpAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px); /* Bump to the left */
  }
  50% {
    transform: translateX(5px); /* Bump to the right */
  }
  75% {
    transform: translateX(-5px); /* Bump to the left again */
  }
  100% {
    transform: translateX(0);
  }
}
