/* EmailRecruiment.css */

.email-recruitment {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; 
    color: black; /* Set default text color to black */
  }

.message-container {
    position: absolute;
    height: 40px; 
    width: 608px; 
    right: 165px;
    bottom: 442px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;  
    align-items: baseline;
}

.title-container {
    position: absolute;
    height: 40px; 
    width: 642px; 
    right: 120px;
    bottom: 490px;
    font-size: 18px;
    overflow: hidden;
}

.body-container {
    position: absolute;
    height: 400px; 
    width: 602px; 
    right: 140px;
    bottom: 40px;
    overflow: hidden;
    align-items: center;
    font-size: 12px;
    padding-left: 0;
}

.sender-name {
    font-weight: bold;
    font-size: 12px; 
    margin-left: 10px; 
  }

.sender-address {
    font-size: 8px;
    margin-right: 180px;
    color: gray;
}

.email-time {
    font-size: 8px; 
    color: gray;
}

.join-button {
    font-weight: bold;
    color: white;
    margin-left: 0;
    background-color: rgb(255, 225, 0);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.join-button:hover {
    background-color: rgba(255, 225, 0, 0.8); /* Slightly lighter on hover */
}