/* ExpoInbox.css */

.expo-inbox {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; 
  }
  
  .email-container {
    position: absolute;
    height: 498px; 
    width: 755px; 
    right: 48px;
    bottom: 6px;
    background: white;
    overflow: hidden;
  }