.narrative-impact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: white;
  height: auto; 
  width: 100%;
}

.scrollable-container {
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  position: relative; /* Establishes stacking context if needed */
  width: 100%; /* Ensures it matches the width of the NarrativeImpact if necessary */
}


.news-loading-container {
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  height: 100%; 
  width: 100%; 
  overflow-y: auto; 
}

