.narrative-impact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: white;
  height: auto; 
  width: 100%;
  overflow-y: auto;
}


.news-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  height: 100%; 
  overflow-y: auto; 
}

