.narrative-impact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: white;
  height: auto; 
  width: 100%;
}

.scrollable-container {
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  position: relative; /* Establishes stacking context if needed */
  margin: 0 ; /* Centers the container horizontally */
  padding: 0px;
}


/* Custom Scrollbar for WebKit-based browsers */
.scrollable-container::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 3px solid transparent; /* Padding around the scrollbar handle */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Color of the scrollbar handle on hover */
}

/* Custom Scrollbar for Firefox */
.scrollable-container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #333 transparent; /* Scrollbar handle and track */
}


.news-loading-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align items vertically */
  gap: 20px; 
  height: 100%; 
  width: 100%; 
  overflow-y: auto; 
}

.news-feed-title {
  text-align: center;
  color: white; /* Or any color you prefer */
  margin-bottom: 0px; /* Space below the title */
}