/* SelectNarrativesDisplay.css */

.select-narratives-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  text-align: center; /* Center the content */
}

.select-narratives-display h2 {
  color: #000; /* Set the header color to black */
  margin-bottom: 20px; /* Add some space below the header */
}

.facts-list {
  overflow-y: auto;
  flex-grow: 1;
  align-items: center;
  width: 100%; /* Ensures the list takes up the full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enable scrolling if the list gets too long */
}


.displayed-fact {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center; /* Center the text inside each fact box */
  border: 1px solid black;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s;
}