.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it's above other content */
  }
  
  .popup-content {
    position: relative;
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust based on your preference */
    max-width: 400px; /* Adjust based on your preference */
  }
  
