.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Ensure it's above other content */
}
  
.popup-content {
  background-color: #fff;
  padding: 40px;
  padding-bottom: 40px; /* Increased padding at the bottom */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust based on your preference */
  max-width: 700px !important; /* Adjust based on your preference */
  min-height: 180px; 
  display: flex; /* Use flex layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-bottom: 40px;
}
  
.events-container {
  display: flex; /* Use flex layout for event boxes */
  justify-content: space-between; /* Space out event boxes */
  width: 100%; /* Full width to allow spacing between boxes */
  margin-bottom: 40px; /* Space between event boxes and the button */
}

.randomize-event {
  margin-top: 20px;
  padding: 10px 20px;
  align-self: center;
  cursor: pointer;
  position: absolute;
  bottom: 20px;  
  background-color: #007bff; /* Example button color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  /* Additional styling for hover state */
  &:hover {
    background-color: #0056b3;
    }

  &:disabled {
    background-color: #cccccc;
    cursor: default;
  }
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  cursor: pointer;
  background-color: transparent; /* Or any color you prefer */
  border: none; /* Removes the default button border */
  font-size: 24px; /* Adjust as needed */
  color: #007bff;  /* Color of the icon */
  font-weight: 100; /* Makes the "X" thinner */
  transition: color 0.3s; /* Smooth transition for color */
}

.close-button:hover {
  color: #0056b3; /* Change color on hover to darker */
}