/* IntroPopup.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.intro-popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 600px;
  height: 500px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures buttons stay at the bottom */
  text-align: left; 
}

.popup-text-content {
  overflow-y: auto; /* Allows scrolling within the text content div */
}

.intro-popup-button-container {
  display: flex;
  justify-content: center; 
  margin-top: 15px;

}

.intro-popup-content p {
  color: #333; /* Dark text for readability */
  margin-bottom: 20px; /* Spacing between text and buttons */
}

.intro-popup-content h2, h3, h4 {
  color: #333; /* Dark text for readability */
  margin-bottom: 20px; /* Spacing between text and buttons */
}

.intro-popup-start-button, .intro-popup-next-button, .intro-popup-prev-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* Spacing between buttons */
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: #0056b3;
  }
}
