/* CounterStratBox.css */

.counter-strat-box {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box; 
}

.counter-strat-box.selected {
  background-color: #fff;
  color: #000;
}

