/* CounterStratBox.css */

.counter-strat-box {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box; 
}

.counter-strat-box.selected {
  background-color: #fff;
  color: #000;
}

.counter-strat-box.center {
  background-color: rgba(128, 128, 128, 0.1); 
  color: #000;
  cursor: default; /* Make sure cursor is not pointer for center */
}

.counter-strat-box.match {
  background-color: transparent;
  color: white;
  cursor: default; /* Make sure cursor is not pointer for center */
}

.counter-strat-box.match.selected {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  cursor: default; /* Make sure cursor is not pointer for center */
}