/* EventBox.css */
.event-box {
  border: 2px solid transparent;
  color: black; 
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.event-box.selected {
  background-color: rgba(128, 128, 128, 0.2); 
  color: black;
}
