/* NarrativeBox.css */

.narrative-box {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box; 
}

.narrative-box.right {
  background-color: rgba(128, 128, 128, 0.1); 
  color: black;
}

.narrative-box.left.selected {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.narrative-box.center {
  background-color: rgba(128, 128, 128, 0.1); 
  color: #000;
  cursor: default; /* Make sure cursor is not pointer for center */
}