.public-sentiment-gauge {
  width: 100%;
  height: 50px;
  background-color: #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.public-sentiment-gauge.strong {
  background-color: green;
}

.public-sentiment-gauge.medium {
  background-color: yellow;
}

.public-sentiment-gauge.weak {
  background-color: red;
}
