/* StratBox.css */

.strat-box {
  border: 1px solid #000000fc;
  color: black; 
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box; 
  min-height: 50px; /* Ensures that each box has a minimum height */
}

.strat-box.selected {
  background-color: #d2d2d2;
  border: 1px solid rgb(0, 0, 0);
  color: #000;
}