/* StratBox.css */

.strat-box {
  background-color: rgba(128, 128, 128, 0.1); 
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box; 
  min-height: 50px; /* Ensures that each box has a minimum height */
}

.strat-box.selected {
  background-color: #c5c5c5;
  color: #000;
}

.strat-box.center {
  background-color: rgba(128, 128, 128, 0.1); 
  color: #000;
  cursor: default; /* Make sure cursor is not pointer for center */
}

.strat-box.match {
  background-color: transparent;
  color: white;
  cursor: default; /* Make sure cursor is not pointer for center */
}

.strat-box.match.selected {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  cursor: default; /* Make sure cursor is not pointer for center */
}